#reject-order-form{
    width: 300px;
}

#reject-order-form h2{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 30px;
}

#reject-order-form form > *{
    display: block;
    margin-bottom: 10px;
}

#reject-order-form form textarea{
    box-sizing: border-box;
    height: 200px;
    resize: none;
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    font-weight: 300;
    font-family: "Open Sans";
}

#reject-order-form form input[type=submit]{
    width: 100%;
}

.order-wrapper:empty{
    background: url(/img/empty.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
}