body{
    display: flex;
    align-items: center;
    height: 100vh;
}

h1{
    width: 100%;
    text-align: center;
    color: #f19066;
    font-family: "Century Gothic";
    background: rgba(247, 215, 148,0.5);
    padding: 30px 0;
}