main h2{
    font-weight: 400;
    font-size: 2.3em;
    margin-bottom: 30px;
}

.order{
    margin: 30px 0;
}

.order .order-info{
    margin-bottom: 20px;
    font-weight: 300;
}

.order .order-info .property{
    font-weight: 600;
    font-family: "Oswald";
    color: rgba(61, 193, 211,1.0);
    font-size: 1.2em;
}

.order .order-info p.rejected{
    color: #e15f41;
    font-weight: 700;
}

.order .order-info p.approved{
    color: #32ff7e;
    font-weight: 700;
}

#open-create-order-form{
    position: absolute;
    top: 32px;
    right: 50px;
}

#create-order-form h2{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 30px;
}

#create-order-form form > *{
    display: block;
    margin-bottom: 10px;
}

#create-order-form form span{
    display: inline-block;
    width: 40%;
}

#create-order-form form input[type=date]{
    width: 60%;
    border: 0;
    border-bottom: 1px solid black;
    padding: 5px;
    box-sizing: border-box;
}

#create-order-form form select, #create-order-form form textarea{
    width: 100%;
    padding: 5px;
    border: 1px solid #000;
    font-weight: 300;
    font-family: "Open Sans";
}

#create-order-form form textarea{
    box-sizing: border-box;
    height: 200px;
    resize: none;
}

#create-order-form form input[type=submit]{
    width: 100%;
}

.order-wrapper:empty{
    background: url(/img/empty.png);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.2;
}