main img{
    margin-bottom: 15px;
    max-height: 300px;
    float: left;
    margin-right: 20px;
}

main .card h2{
    font-weight: 400;
    font-size: 2.6em;
    margin-bottom: 30px;
}

main .content p{
    font-weight: 300;
    font-size: 1.3em;
}

main article{
    margin-bottom: 20px;
    overflow: hidden;
}

main .advantages{
    clear: both;
}

main .advantages h3{
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 20px;
}

main .advantages ul{
    padding-left: 25px;
}

main .advantages li{
    font-size: 1.2em;
    font-weight: 300;
}

main .big-button{
    margin-top: 20px;
}

main #big-open-registration{
    margin: 0 auto;
    display: block;
    font-size: 3em;
}

.auth-form{
    display: none;
}

.auth-form h2{
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 30px;
}

.auth-form input{
    display: block;
    margin-bottom: 30px;
}

.auth-form input:focus{
    outline: none;
}

.auth-form input[type=text], .auth-form input[type=password]{
    border: 0;
    border-bottom: 1px solid rgba(48, 57, 82,1.0);
    padding: 3px 5px;
    font-size: 1em;
}

.auth-form input[type=submit]{
    width: 100%;
}