table{
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

tr{
    transition: background 0.2s;
}

tr:hover{
    background: rgba(61, 193, 211,0.4);
}

td{
    padding: 5px 10px;
    box-sizing: border-box;
    vertical-align: top;
    border: 1px solid #ccc;
}

.property{
    font-weight: 600;
    font-family: "Oswald";
    color: rgba(61, 193, 211,1.0);
    font-size: 1.2em;
}

.button{
    width: 100%;
}